@import 'nib'
@import url('//netdna.bootstrapcdn.com/font-awesome/3.1.1/css/font-awesome.min.css');

a
  color: #3b8bba
  text-decoration: none

  &:hover
    color #265777
table .actions button
  margin-right 4px
  
.header,
.content,
.pedido,
.pedido-detalle
  padding 10px 20px

.header
  border 0
  border-bottom 1px solid #b7b7b7

.pedido-detalle
  font-size 80%
  border-left 1px solid #b7b7b7

#pedido-lista
  ul, li
    list-style-type none
    margin 0

.message
  padding 5px 15px
  font-size 90%
  border-radius 5px
  border 1px solid rgba(202, 60, 60, 0.4)

  &.error
    color rgb(202, 60, 60)
    background rgba(202, 60, 60, 0.1)
  &.success
    color rgb(28, 184, 65)
    background rgba(28, 184, 65, 0.1)

.footer
  color #AAA
  font-size 80%
  border-top 1px solid #cdcaca
  padding 4px 10px

// Buttons

.pure-button-success,
.pure-button-error,
.pure-button-warning,
.pure-button-secondary
    color white
    border-radius 4px
    text-shadow 0 1px 1px rgba(0, 0, 0, 0.2)

.pure-button-success
  background rgb(28, 184, 65)
.pure-button-error
  background rgb(202, 60, 60)
.pure-button-warning
  background rgb(223, 117, 20)
.pure-button-secondary
  background rgb(66, 184, 221)

.align-center
  text-align center
.align-right
  text-align right
.align-left
  text-align left
.pure-table-centered
  width 98%
  margin auto