extends layout

block content
  #container
    .pure-u-1
      .content
        h2 Bienvenido
        form.pure-form.pure-form-aligned(action='/login', method='POST')
          if error == 'error'
            .message.error
              | Usuario o contraseña incorrectos
          if status == 'logout'
            .message.success
              | ¡Hasta pronto!
          fieldset
            legend Iniciar sesión
            .pure-control-group
              label(for='username') Usuario:
              input#username(name='username', type='text', placeholder='Usuario', autocomplete='off')
            .pure-control-group
              label(for='password') Password:
              input#password(name='password', type='password', placeholder='Password')
            .pure-control-group
              label(for='local') Local:
              select#local(name='local')
            .pure-controls
              button.pure-button.pure-button-primary.login(type='submit') Ingresar

    
block js
  script(src='/js/actions/login.js')
  