extends layout

block content
  
  h2 Lista de pedidos

  table#pedido-lista.pure-table.pure-table-horizontal.pure-table-centered
    thead
      tr
        th Cliente
        th Pedido
        th Comentarios
        th Hecho por
        th Fecha
        th Estado
        th(colspan='2') Acciones
    tbody

block js
  script(src='/js/vendor/jquery.timeago.js')
  script(src='/js/actions/pedido-lista.js')